@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-gradient-heading {
    display: inline;
    /* padding-right: 5px; */
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-img{
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./bg-3.jpg");
    background-size: cover;
    min-height:  calc(100vh - 112px);
}
.banner-1 {
    height: calc(100vh - 112px);
}
/* 
.wrapper{
    display: grid;
    grid-template: "a a" ;
} */